@media screen and (max-width: 768px) {

    /* navbar media screen 768px*/
    .navbar-container {
        flex-direction: column;
        height: auto;
    }

    .navbar-container>.logo {
        align-self: baseline;
        padding-inline: 40px;
    }

    .navbar-container>.logo>a>img {
        width: 200px;
        padding-top: 20px;
    }

    .navbar-container>.nav-list {
        margin-top: 20px;
        gap: 50px;
        justify-content: space-evenly;
        margin-inline: 30px;
        padding-left: 0;
    }

    .navbar-container>.nav-list>li {
        padding: 0;
    }

    .navbar-container>.nav-list>li>a {
        padding: 0;
    }

    /* footer media screen 768px */
    footer {
        flex-direction: column;
        height: auto;
        padding-left: 30px !important;
        gap: 30px;
    }

    footer>.logo-footer {
        flex-direction: row;
        padding-left: 0;
        gap: 50px;
    }

    .logo-footer>.icon-footer {
        margin-right: 60px;
        column-gap: 10px;
    }

    footer>.footer-menu {
        flex-direction: column;
        padding: 0;
        gap: 10px;
    }

    .footer-menu>.products-menu>ul>li {
        padding-left: 30px;
    }

    .footer-menu>.store-menu>ul>li {
        padding-left: 30px;
    }

    .footer-menu>.contact-menu>ul>li {
        padding-left: 30px;
    }

}

@media screen and (max-width: 1100px) {

    /* footer media screen 1100px */
    footer {
        flex-direction: column;
        gap: 1rem;

        padding-left: 50px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .logo-footer>.icon-footer {
        margin-right: 60px;
    }

    footer>.logo-footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    footer>.footer-menu {
        padding: 0 10px 0 10px;
    }
}

@media screen and (max-width: 1300px) {

    /* content media screen 1300px */
    .content {
        padding: 7.5% 15%;
    }
}

@media screen and (min-width: 1800px) {

    /* navbar media screen 1800px */
    .navbar-container {
        height: 130px;
        padding-block: 2rem;
    }

    .navbar-container>.nav-list>li>a {
        font-size: 24px;
    }

    .navbar-container>.logo>a>img {
        width: 300px;
        padding: 0;
    }
}