.content {
    width: 100% !important;
    margin-block: 10rem;
    margin-bottom: 6rem;
    padding-inline: 7%;
    padding-block: 0 !important;
    align-items: unset;
    gap: 20px !important;
}

.product {
    display: flex;
    width: 100%;
    gap: 10px;
}

.product>.product-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 2rem;
}

.product>.product-info>h2 {
    border-bottom: 0;
    font-weight: 750 !important;
    font-size: 48px;
}

.product>.product-info>p {
    font-size: 24px;
}

.product>.product-image {
    max-width: 700px;
}

.product>.product-image>img {
    max-width: 700px;
    aspect-ratio: 4/3;
}

.product-info>span {
    margin-top: 50px;
    color: rgba(15, 139, 141, 1);
    font-weight: 900 !important;
    font-size: 60px;
}

.product-desc {
    padding-left: 70px !important;
}

.product-desc>h2 {
    width: 40%;
    font-weight: 500 !important;
    font-size: 48px;
}

.product-desc>p {
    text-align: justify;
    font-size: 24px;
    line-height: 3rem !important;
    padding-right: 80px;
}

.button-back {
    align-self: stretch;
    padding-right: 20px;
    margin-left: 70px;

    cursor: pointer;
    font-family: 'Lato', 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.content>button>span {
    vertical-align: middle;
}

.content>button>.arrow-icon {
    height: 2.7rem;
    vertical-align: middle;
}