.content {
    width: 100% !important;
    margin-block: 10rem;
    margin-bottom: 6rem;
    padding-inline: 8% !important;
    padding-block: 0 !important;
    align-items: unset;
    gap: 20px;
}

.content>.store>.store-container>h2 {
    border-bottom: 0;
}

.store {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    column-gap: 60px;
    justify-content: center;
}

.store>.store-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.store-container>.store-card {
    width: 450px;
    padding: 20px 45px;
    border: 1px solid rgba(210, 210, 210, 1);
    border-radius: 20px;
}

.store-container>.store-card>h3 {
    font-size: 30px;
    color: rgba(20, 54, 66, 1);
    margin-top: 0;
}

.store>.maps-container {
    display: flex;
    width: 580px;
    flex-direction: column;
}

/* .content>.store>.maps-container {} */
.store>.maps-container>iframe {
    width: 100%;  
    min-height: 580px;  
    margin-top: 9.2rem;
    border-radius: 20px;
}